<h2 class="list-title">Актуальні пропозиції</h2>

<div class="search-container">
  <input
    type="text"
    placeholder="Пошук за назвою або магазином..."
    [(ngModel)]="searchTerm"
    class="search-input"
  >
</div>

<div class="actions-container">
  <a routerLink="/add-item" class="add-button">
    + Додати знижку
  </a>
</div>

<div class="list-container">
  @for (item of items$ | async; track item.id) {
    <app-item-card
      [discountItem]="item"
      (selectItem)="onItemSelected($event)">
    </app-item-card>
  }
</div>
