:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: linear-gradient(90deg, #0052D4, #4364F7, #6FB1FC); /* Гарний градієнт */
  color: white;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: sticky; /* Робимо хедер "липким" */
  top: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
}

main {
  flex-grow: 1; /* Змушує основний контент займати весь доступний простір */
  padding: 20px;
}

footer {
  background-color: #2c3e50; /* Темний фон */
  color: #ecf0f1; /* Світлий текст */
  text-align: center;
  padding: 20px;
}
