<div class="card" appHighlight>
  <div class="discount-badge">
    -{{ Math.round(((discountItem.originalPrice - discountItem.discountPrice) / discountItem.originalPrice) * 100) }}%
  </div>

  <img [src]="discountItem.imageUrl || 'https://placehold.co/600x400?text=No+Image'" alt="{{ discountItem.productName }}">

  <div class="card-content">

    @if (Math.round(((discountItem.originalPrice - discountItem.discountPrice) / discountItem.originalPrice) * 100) > 13) {
      <div class="hot-badge">
        ⚡ ГАРЯЧА!
      </div>
    }

    <h3>{{ discountItem.productName | truncate:20 }}</h3>

    <p class="store-name">Магазин: <strong>{{ discountItem.storeName }}</strong></p>
    <div class="price-wrapper">
      <span class="original-price">{{ discountItem.originalPrice | currency:'UAH' }}</span>
      <span class="discount-price">{{ discountItem.discountPrice | currency:'UAH' }}</span>
    </div>

    <p class="valid-date" [ngClass]="{ 'expiring-soon': isExpiringSoon() }">
      Дійсно до: {{ discountItem.validUntil | date:'dd.MM.yyyy' }}
    </p>

    <a [routerLink]="['/items', discountItem.id]" class="details-button" style="text-decoration: none; text-align: center; display: block; box-sizing: border-box;">
      Детальніше
    </a>
  </div>
</div>
